extends ../shared/header
block content
  body(ng-controller='ViewerController')
    nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
      div.container-fluid
        div.navbar-header
          button.navbar-toggle(ng-init="navCollapsed = true", ng-click="navCollapsed = !navCollapsed")
            span.sr-only= t('app.toggleNavigation')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a#title.navbar-brand(href='#')
            span.glyphicon.glyphicon-fire &nbsp;
            span(data-i18n='app.name') Opendispatcher

        div#navbar.uib-collapse.navbar-collapse(uib-collapse="navCollapsed", ng-controller="NavigationController")
          form.form-inline
            div#btn-grp-nsearch.btn-group(ng-controller="SearchController")
              div.input-group.navbar-btn
                span#newsearch-add-on.input-group-addon
                  i.fa(ng-hide="noResults", ng-class="[selectedType, {'glyphicon-remove': noResults, 'glyphicon-refresh': loadingLocations}]")
                  i.glyphicon.glyphicon-remove(ng-show="noResults")
                input#inputAddress.form-control(type="text", typeahead-on-select="onSelect($item, $model, $label)", ng-model="site.address", ng-i18next="[placeholder]{{searchPlaceholder}}", uib-typeahead="item.label for item in getLocation($viewValue) | limitTo:10", ng-maxlength="10", typeahead-min-length="2", uib-typeahead-loading="loadingLocations", uib-typeahead-no-results="noResults")
                div.input-group-btn(uib-dropdown, is-open="status.isopen")
                  button#search2_dropdown.btn.btn-default(ng-disabled="disabled", uib-dropdown-toggle, type="button")= t('search.search')
                    | 
                    span.caret
                  ul.uib-dropdown-menu.dropdown-menu(role="menu" aria-labelledby="search2_dropdown")
                    li(ng-repeat="provider in providers", role="menuitem")
                      a(ng-click="changeProvider(provider)")
                        i(class='fa {{provider.icon}}')
                        | 
                        span(ng-i18next='{{provider.text}}')
                    
            //div#btn-grp-search.btn-group(style='display:none;')
              
            div#btngrp_3.btn-group
              a#c_minimap.btn.navbar-btn.btn-default(ng-click='toggleMiniMap()', title=t('map.mini'))
                i.fa.fa-picture-o
              a#c_settings.btn.navbar-btn.btn-default(ng-click="open('settings')", data-toggle='modal', title=t('map.settings'))
                i.fa.fa-cogs
              a#tb01.btn.navbar-btn.btn-default(ng-click="open('overlays')", data-toggle='modal', title=t('map.overlays'))
                i.fa.fa-map-marker
              a#tb02.btn.navbar-btn.btn-default(ng-click="open('baselayers')", data-toggle='modal', title=t('map.baselayers'))
                i.fa.fa-globe
              a#tb03.btn.navbar-btn.btn-default(href='#', title=t('map.info'))
                i.fa.fa-info-circle
            div#btngrp_navigation.btn-group
              a#zoom_prev.btn.navbar-btn.btn-default(ng-disabled='previousDisabled', ng-click='historyPrevious()', title=t('map.prev'))
                i.fa.fa-backward
              a#zoom_next.btn.navbar-btn.btn-default(ng-disabled='nextDisabled', ng-click='historyNext()', title=t('map.next'))
                i.fa.fa-forward
              a#zoom_in.btn.navbar-btn.btn-default(ng-click='zoomIn()', title=t('map.zoomIn'))
                i.fa.fa-search-plus
              a#zoom_out.btn.navbar-btn.btn-default(ng-click='zoomOut()', title=t('map.zoomOut'))
                i.fa.fa-search-minus
              a#zoom_extent.btn.navbar-btn.btn-default(ng-click='zoomExtent()', title=t('map.zoomExtent'))
                i.fa.fa-arrows-alt
              a#permalink.btn.navbar-btn.btn-default(title=t('map.permalink'))
                i.fa.fa-link
    div.container-fluid.fill
      //div.loadscreen(ng-hide="!loading")
      div#mapc1map1

      //leaflet#map(ng-hide="loading", defaults='defaults', geojson='geojson', layers="layers", controls="controls")

      div#sidebar-wrapper
        div#btngrp_3.btn-group.btn-group-vertical
          a#c_minimap.btn.btn-default(href='#', title=t('map.mini'))
            i.fa.fa-picture-o
          a#c_settings.btn.btn-default(href='#settingspanel', data-toggle='modal', title=t('map.settings'))
            i.fa.fa-cogs
          a#tb01.btn.btn-default(href='#overlaypanel', data-toggle='modal', title=t('map.overlays'))
            i.fa.fa-map-marker
          a#tb02.btn.btn-default(href='#baselayerpanel', data-toggle='modal', title=t('map.baselayers'))
            i.fa.fa-globe
          a#tb03.btn.btn-default(href='#', title=t('map.info'))
            i.fa.fa-info-circle

    div#footer
      div.container
        span#measure
        span#coords
        span#scale
        span#attribution

    include ../shared/scripts
