extends page_header
block content
  // Main jumbotron for a primary marketing message or call to action
  div.jumbotron
    div.container
      h1= t('eughs.title')
      p= t('eughs.intro')
  div.container
    div.row
      div.col-lg-12
        h2= t('eughs.introduction')
        p= t('eughs.abstract1')
        p= t('eughs.abstract2')
        p= t('eughs.abstract3')
        p
          i= t('eughs.source') 
            a(href=source_url)= source_url